{% extends "base.html" %}

{% block content %}
  <div class="card border-light">
    <div class="row no-gutters">
      <div class="col-sm-auto">
        <img src="{{ current_user.avatar(64) }}" class="rounded-circle">
      </div>
      <div class="col-sm-auto">
        <div class="card-body">
          <p class="card-text">{{ current_user.name }}</p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div>
    {{ current_user.sessions.count() }} Sessions
    {{ current_user.students.count() }} Students
    ${{ current_user.revenue_this_month() }} This Month
  </div>
  <hr>
  {% for session in sessions %}
  <div class="card border-secondary mb-3">
    <div class="card-header">{{ session.date }}</div>
    <div class="card-body">
      <h5 class="card-title">{{ session.student }}</h5>
      <p class="card-text">{{ session.notes }}</p>
    </div>
  </div>
  {% endfor %}
  {% if prev_url %}
  <a href="{{ prev_url }}">Newer sessions</a>
  {% endif %}
  {% if next_url %}
  <a href="{{ next_url }}">Older sessions</a>
  {% endif %}
{% endblock %}
