{% extends "base.html" %}

{% block content %}
    <h1>New Session</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.student.label }}<br>
            {{ form.student(size=32) }}<br>
            {% for error in form.student.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.date.label }}<br>
            {{ form.date(size=32) }}<br>
            {% for error in form.date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.hours.label }}<br>
            {{ form.hours(size=16) }}<br>
            {% for error in form.hours.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.revenue.label }}<br>
            {{ form.revenue(size=16) }}<br>
            {% for error in form.revenue.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.notes.label }}<br>
            {{ form.notes(size=128) }}<br>
            {% for error in form.notes.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <div>{{ form.submit() }} {{ form.cancel() }}</div>
{% endblock %}
